.p1 {
  display: inline-block;
  margin-left: 180px;
  margin-top: 380px;
  color: white;
  font-size: 15px;
}

.p2 {
  position: absolute;
  left: 450px;
  top: 365px;
  color: white;
  font-size: 15px;
}

@font-face {
  font-family: '8bit';
  src: url(../assets/8bit.ttf) format('truetype');
}

button {
    position: absolute;
    width: 200px;
    left:300px;
    top: 500px;
    background-color: rgb(238, 19, 190);
    font-family: '8bit';
}

#main {
    position: relative;
    margin: auto;
    width: 800px;
    height: 600px;
    border: solid 1px black;
    background: rgb(238, 19, 190);
    background-image: url(../assets/graphics/startbackground.jpg);
    background-repeat: no-repeat;
    font-family: '8bit';
    z-index: 0;
  }

  #lava {
    position: absolute;
    background-image: url(../assets/graphics/rayo.gif);
    background-size: cover;
  }
  
  .platform {
    position: absolute;
    background: url(../assets/graphics/HIGHTECHWALL.png);
  }
  
  #player1 {
    position: absolute;
    background: url(../assets/graphics/player1/BIKERWALKRIGHT1.png) 0px 0px;
    scale: 1.5;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 3px 5px #ffb9f9);
    z-index: 1;
  }
  
  #player2 {
    position: absolute;
    background: url(../assets/graphics/player2/PUNKWALKLEFT1.png) 0px 0px;
    background-size: contain;
    scale: 1.5;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 3px 5px #b6d0ff);
    z-index: 1;
  }

  .life1 {
    width: 20px;
    height: 35px;
    display: inline-block;
    background: url(../assets/graphics/player1/BIKERWALKRIGHT1.png);
    background-repeat: no-repeat;
  }

  #life-container1 {
    width: 70px;
    height: 35px;
    position: absolute;
    left: 100px;
    top: 50px;
  }

  .life2 {
    width: 20px;
    height: 35px;
    display: inline-block;
    background: url(../assets/graphics/player2/PUNKWALKLEFT1.png);
    background-repeat: no-repeat;
  }

  #life-container2 {
    width: 70px;
    height: 35px;
    position: absolute;
    left: 630px;
    top: 50px;
  }

